# dependencies
node_modules/
client/node_modules/
server/node_modules/

# build outputs
dist/
build/

# cache folders
.cache/
client/.cache/
server/.cache/

# environment files
.env
.env.local

# logs
*.log
